:root {
    --green: #B9FF66;
    --black: #191A23;
    --white: #F3F3F3;
}

@font-face {
    font-family: "regular";
    src: url("./assets/fonts/static/SpaceGrotesk-Regular.ttf");
}

@font-face {
    font-family: "bold";
    src: url("./assets/fonts/static/SpaceGrotesk-Bold.ttf");
}

.logo {
    width: 120px;
}

* :not(i) {
    font-family: regular !important;
}

html,
body {
    overflow-x: hidden;
}

.header-req-btn:hover {
    background: var(--black) !important;
    color: var(--white);
    transition: 1s;
}

.hero-btn:hover {
    background-color: rgb(56, 56, 56);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: bold !important;
}

.primary-btn {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
}

.hero-img {
    width: 90%;
    height: 90%;
}

.branding>div>div>img {
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}

.primary-heading {
    background-color: var(--green);
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 22px;
}

.services-row .service-cols {
    /* flex: 5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 45%;
    border-radius: 45px;
    box-shadow: 0 5px 0 var(--black);
}

.services-row .service-cols-inner {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    justify-content: space-between;

    &>img {
        position: absolute;
        top: 17%;
        right: -4%;
        width: 180px;
        height: 180px;
        z-index: -1;
    }
}

.services-row>div:is(:first-child, :nth-child(4)) {
    background-color: var(--white);

    & h3 {
        background-color: var(--green);
    }
}

.service-cols-inner a {
    text-decoration: none;
    color: var(--black);

    &:hover {
        text-decoration: underline;
    }

}

.service-cols-inner i {
    background-color: var(--black);
    color: var(--green);
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 15px;
    margin-right: 7px;
    box-sizing: border-box;
    transform: rotate(320deg);
    box-shadow: 0 0 5px var(--black);
}

.services-row>div:is(:nth-child(2), :nth-child(3)) {
    background-color: var(--green);
}


/* Accordian */

.my-accordion {}

.my-accordion-item {
    background-color: var(--white);
    padding: 3% 2%;
    border-radius: 45px;
    margin-bottom: 3%;
    box-shadow: 0 5px 0 var(--black);
    border: 1px solid var(--black);
}

.my-accordion-item.active {
    background-color: var(--green);

}

.my-accordion-item.active .my-accordian-toggle-btn:hover {
    background-color: var(--white) !important;
}

.my-accordian-toggle-btn {
    border: 2px solid var(--black);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: var(--white) !important;

    &>i {
        transition: 1s;
    }

    &:hover {
        background-color: var(--green) !important;
        border-width: 3px;
    }
}

/* contact us form */
.form-container {
    background-color: var(--white);
    border-radius: 45px;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-container>div {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-img {
    position: absolute;
    right: 0;
    height: 80%;
}

.form-header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-header label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-header input[type="radio"] {
    accent-color: var(--green);
}

.contact-form-btn:hover {
    background-color: #fff;
    color: var(--black);
    border: 1px solid  var(--black);
}

/* footer */

footer {
    margin-top: 7%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px 45px 0 0;
    overflow: hidden;
    padding: 4%;
}

footer>div {
    width: 90%;
    height: 80%;
    /* background-color: blue; */
    color: var(--white);
}

footer a {
    color: #fff;
    text-decoration: underline;
}

.rounded-full {
    border-radius: 50%;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    border-bottom: 1px solid var(--white);
}

.footer-contact>div:first-child {
    /* background-color: blue; */
    flex: 40;
}

.footer-contact>div:nth-child(2) {
    flex: 50;
}

.footer-contact .heading {
    background-color: var(--green);
    color: var(--black);
    padding: 4px 8px;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 12px;

}

.footer-form {
    background-color: #3e404e;
    gap: 4%;
    height: 150px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.footer-form>input,
.footer-form>button {
    padding: 12px;
    box-sizing: border-box;
}

.footer-form>div>input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;

    &:focus {
        outline: 2px solid var(--green);
    }
}

.footer-form>div {
    flex: 60 !important;

    &>input {
        color: var(--white) !important;
    }
}

.footer-form button {
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    flex: 40;
    font-size: 14px;
}

.custom-inp:focus {
    outline: none !important;

    /* border: 2px solid var(--green) !important;
    outline: none !important; */
}

@media only screen and (max-width:992px) {
    .services-row>div {
        width: 100%;
    }


}

@media only screen and (max-width:768px) {
    .logo {
        width: 150px;
    }

    .primary-btn {
        padding: 14px 18px;
    }

    .services-row {
        display: flex;
        gap: 5vw;

    }

    .form-img {
        display: none;
    }

    .footer-form {
        padding: 10%;
        align-items: stretch;
        flex-direction: column;
        gap: 14px;
    }

    .services-row .service-cols {
        width: 100%;
    }

    .services-row>div:nth-child(odd) {
        background-color: var(--white) !important;
    }

    .services-row>div:last-child {
        background-color: var(--green) !important;

        & h3 {
            background-color: var(--white) !important;
        }
    }
}

@media only screen and (max-width:576px) {
    .branding>div>div>img {
        width: 80px;
    }

    .primary-heading {
        font-size: 20px;
    }

    .services-row>div {
        margin-bottom: 8%;
    }

    .my-accordion-item {
        padding: 7%;
    }

    /* footer styling */
    footer {
        border-radius: 0px !important;
        width: 100vw;
        padding: 7% 15px;
        height: min-content;
    }

    footer a {
        color: var(--white);
        text-decoration: none;
    }

}