:root {
    --green: #B9FF66;
    --black: #191A23;
    --white: #F3F3F3;
}

@font-face {
    font-family: "regular";
    src: url("./assets/fonts/static/SpaceGrotesk-Regular.ttf");
}

@font-face {
    font-family: "bold";
    src: url("./assets/fonts/static/SpaceGrotesk-Bold.ttf");
}

.logo {
    width: 120px;
}

* :not(i) {
    font-family: regular !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: bold !important;
}

.primary-btn {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
}

.hero-img {
    width: 90%;
    height: 90%;
}

.branding>div>div>img {
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}

@media only screen and (max-width:768px) {
    .logo {
        width: 150px;
    }

    .primary-btn {
        padding: 14px 18px;
    }
}

@media only screen and (max-width:576px) {
    .branding>div>div>img {
        width: 80px;
    }
}